body
{
	font-family: 'Open Sans Condensed', sans-serif;
	background-color: #efe;
}

.upload-panel
{
	background-color: #EAE7C2;
	box-shadow: 1px 1px 5px #888888;
	padding: 2%;
	text-align: center;
	width: 500px;
	margin-right: auto;
	margin-left:auto;
	margin-top: 5%
}